# OpenTofu / Terraform.terraform/.tfstate
.tfstate.
crash.log
crash..log
*.tfvars
*.tfvars.json
tfplanoverride.tf
override.tf.json
*_override.tf
*_override.tf.json

# OpenTofu / Terraform
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Python
pycache/*.py

[cod]
*$py.class
.venv/
/venv
/ENV/
.env

# VS Code / OS
.vscode/
.DS_StoreThumbs.db
